@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

.prose h2 {
  margin-bottom: 0.4em;
}

.light {
  --color-fd-card: var(--color-neutral-50);
  --color-fd-background: var(--color-fd-background);
  --color-fd-primary: oklch(68.1% 0.162 75.834);
}

.dark {
  --color-fd-primary: hsl(54, 100%, 76%);
}
